.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000; /* 검정색 텍스트 */

}

#register, #email, #password, #login {
  height: 50px;
  color: #000; /* 검정색 텍스트 */
  border: 1px solid #000; /* 검정색 테두리 */
  border-radius: 5px; /* 둥근 모서리 */
  margin: 5px 0; /* 위아래로 10px의 마진 적용 */

  width: 60%;
  min-width: 50%;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

#register, #login {
  cursor: pointer; /* 마우스 커서 변경 */
}